<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Netflix</title>
        <script src="https://kit.fontawesome.com/37e6ce0705.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="assets/style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
    </head>
    <body>
        <div id="root">
            <div class="container">
                <div class="search-movie">
                    <input placeholder="Inserisci il nome del film" v-model="searchQuery" class="search-movie-bar">
                    <button type="button" @click="findMovie" class="search-movie-button">Cerca il film</button>
                </div>
                <div class="movies-container">
                    <div class="movie" v-for="(movie, index) in movies">
                        <div class="movie-img-container">
                            <img :src="imgPath + movie.poster_path" class="movie-img">
                        </div>
                        <div class="movie-information-container">
                            <h3 class="movie-title">{{movie.title}}</h3>
                            <p class="movie-original-title">{{movie.original_title}}</p>
                            <p class="movie-original-language">{{movie.original_language}}</p>
                            <p class="movie-avarage-vote">{{movie.vote_average}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="assets/main.js" charset="utf-8"></script>
    </body>
</html>
