* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body{
    height: 90vh;
    background: #141414;
}

.search-movie{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    height: 50px;
}

.search-movie-container{
    width: 50%;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.search-movie-container .search-movie-bar{
    color: white;
    width: 80%;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    background: rgb(120, 120, 120);
}

.search-movie-container .search-movie-bar::placeholder{
    color: white;
}

.search-movie-container .search-movie-button{
    width: 20%;
    padding: 10px;
    background: #E50914;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

.search-movie-container .search-movie-button:hover{
    background: #B1060F;
}

.search-movie img{
    height: 100%;
}

.movies-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 0;
}

.movie{
    display: flex;
    flex-direction: row;
    flex-basis: 200px;
    padding: 20px;
    margin: 10px 20px;
    background: rgb(60, 60, 60);
    text-align: center;
}

.movie-img-container{
    align-self: center;
}

.movie-img-notloaded{
    align-self: center;
}

.movie-img-notloaded strong{
    color: red;
}

.movie-information-container{
    margin-left: 10px;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.movie .movie-information-container .movie-title{
    margin: 20px 0;
    color: white;
    font-size: 22px;
    text-transform: uppercase;
}

.movie .movie-information-container .movie-original-title{
    color: grey;
    font-size: 20px;
}

.movie .movie-information-container .movie-original-language{
    color: grey;
}

.movie .movie-vote-stars{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.movie-vote-stars i{
    color: gold;
}
